@import "./variables&functions";

.section{
   height: fit-content;
   width: 99.14vw;
    font-size: 1vw;
    background: radial-gradient(circle,#fafafa 0,#d2d2d2 100%);

    h1{
        margin: auto 0;\
        Atext-align: center;
    }
}