@import "./variables&functions";



.section{
    @include fullScreen;
   height: fit-content;
    font-size: 1vw;
    background: radial-gradient(circle,#fafafa 0,#d2d2d2 100%);
    padding: 4em 5em;
    @include flexCenter(column);

    h1{
        margin: auto 0;
        text-align: center;
        font-size: 4em;
    }
    p{
        margin: 2em 0;
        font-size: 1.2em;
        padding: 0 8em;
    }

    .aboutmeDI{
        @include flexCenter(row);
        width: 100%;
        div{
            width: 50%;
            h4{
                text-align: center;
                font-size: 2.5em;
                font-weight: 400;
            }
        }



        .abboutmeDI__left{
            text-align: left;
        }
        li{
            padding-left: 35%;
          }
    }

}
