.section {
  width: 100%;
  height: 100vh;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 1vw;
  background: radial-gradient(circle, #fafafa 0, #d2d2d2 100%);
  padding: 4em 20em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.section h1 {
  margin: auto 0;
  text-align: center;
  font-size: 3em;
}
.section p {
  margin: 2em 0;
  font-size: 1em;
}
.section .aboutmeDI {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: row;
}
.section .aboutmeDI div {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.section .aboutmeDI div h4 {
  text-align: center;
  font-size: 2.5em;
  font-weight: 400;
}
.section .aboutmeDI .aboutmeDI__left li {
  margin: 1em 0;
  font-weight: 700;
}
.section .aboutmeDI .aboutmeDI__right .rightdiv {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
.section .aboutmeDI .aboutmeDI__right .rightIcon {
  margin-top: 1em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 1em;
  transition: box-shadow 400ms, color 400ms;
  background: #e0e0e0;
  border-radius: 0.4em;
}
.section .aboutmeDI .aboutmeDI__right .rightIcon:hover {
  cursor: pointer;
  background: #e0e0e0;
  box-shadow: 1em 1em 2em #bebebe, -1em -1em 2em #ffffff;
}
.section .aboutmeDI .aboutmeDI__right .rightIcon * {
  font-size: 1.9em;
}
.section .aboutmeDI .aboutmeDI__right .github:hover {
  color: white;
}
.section .aboutmeDI .aboutmeDI__right .linkedin:hover {
  color: rgb(0, 119, 181);
}
.section .button {
  padding: 1em 5em;
  margin-top: 3em;
  position: relative;
  z-index: 1;
  background-color: transparent;
}
.section .buttonanimation {
  background-color: rgb(28, 204, 91);
  position: absolute;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  right: 100%;
  transition: right 400ms;
}
.section .button:hover > .buttonanimation {
  right: 0;
}