@import "./variables&functions";



.section{
    @include fullScreen;
   height: fit-content;
    font-size: 1vw;
    background: $darkgray;
    padding: 4em 20em;
    @include flexCenter(column);
    color: white;
    text-align: center;
    *{
        margin: 1em 0;
    }
    a{  
        cursor: pointer;
        color: $green;
        margin: 0 1em;
    }
    .img{
        filter: invert(1);
        height: 1.6em;
        margin-bottom: 3em;
        position: relative;
        width: 1.7em;
        transform: scale(5);
        
    }
}

@media all and (max-width: 550px) {
    .section{
      font-size: 1.9vw;
    }
    }