.section {
  width: 100%;
  height: 100vh;
  background: linear-gradient(90deg, rgb(240, 240, 240), 65%, rgb(28, 204, 91) 35%);
  font-size: 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.section .leftLP {
  width: 65%;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.section .leftLP * {
  flex-wrap: nowrap;
  margin-left: 10%;
  white-space: nowrap;
}
.section .leftLP > p:nth-child(1) {
  color: rgb(28, 204, 91);
  font-size: 2em;
  font-weight: 300;
}
.section .leftLP h1 {
  font-size: 9em;
}
.section .leftLP h3 {
  font-size: 2em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: rgb(28, 204, 91);
}
.section .rightLP {
  width: 35%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media all and (max-width: 550px) {
  .section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.9vw;
  }
  .section .leftLP {
    width: 100%;
    padding-left: 0.3em;
  }
  .section .rightLP {
    display: none;
  }
}