@import "./variables&functions";

.section{
    @include fullScreen;
    height: 5vh;
    position: fixed;
     font-size: 1vw;
     padding: 1em;
     @include flexCenter(column);
     z-index: 100;
     transition: background-color 700ms;
     ul{
        width: 100%;
        @include flexCustom(space-around, center, row);
       
        a{
            transition: color 700ms;
        }
     }
    
}

.navColored{
    background-color: $darkgray;
    a{
        color: $green;
    }
 }
 .transparent{
    background-color: transparent;
    a{
        color: transparent;
    }
 }