@import "./variables&functions";

.section{
    @include fullScreen;
    height: 10vh;
    position: fixed;
     font-size: 1vw;
     padding: 1em;
     @include flexCustom(space-around, center, row);
     z-index: 100;
     transition: background-color 700ms;
     div{
        cursor: pointer;
     @include flexCenter(row);
     
     }
     ul{
        width: 50%;
        @include flexCustom(space-around, center, row);
       
        a{
            color: transparent;
            transition: color 700ms;
        }
     }
    
}

.inverted{
    filter: invert(1);
 }

.navColored{
    background-color: $darkgray;
    a{
        color: $green !important;
    }
 }
 .transparent{
    background-color: transparent;
 }