@import "./variables&functions";

.section{
    @include fullScreen;
    height: 5vh;
    position: fixed;
     font-size: 1vw;
     background: $darkgray;
     padding: 2em;
     @include flexCenter(column);
     z-index: 100;
     ul{
        width: 100%;
        @include flexCustom(space-around, center, row);
       
        a{
            color: white;
        }
     }
}