@import "./variables&functions";

.section{
    @include fullScreen;
    height: fit-content;
     font-size: 1vw;
     background: $darkgray;
     padding: 4em 15em;
     color: white;
     @include flexCustom(space-around, center, row);
     div{
        text-align: center;
        h1{
            color: $green;
            font-size: 4em;
        }
        h2{
            border-top: 0.1em solid rgb(255, 255, 255);
        }
     }
}


@media all and (max-width: 550px) {
    .section{
      font-size: 1.9vw;
      @include flexCustom(space-around, center, row);
      padding: 2em 4em;
    }
    }