@import "./variables&functions";

.section{
    @include fullScreen;
    height: fit-content;
     font-size: 1vw;
     background: radial-gradient(circle,#fafafa 0,#f7f6f6 100%);
     position: relative;
    
}

.section:after{
    content: '';
    height: 100%;
    width: 0.5em;
    background-color: $green;
    @include absolutecenter;
}

.container{
   position: relative;
   padding: 4em 9em;
   width: 50%;
   &::after{
    content: '';
  position: absolute;
  width: 2em;
  height: 2em;
  right: -1.25em;
  background-color: white;
  border: 0.3em solid $green;
  top: 40%;
  border-radius: 50%;
  z-index: 1;
   }
   div{
    color: white;
    background-color: $darkgray;
    border-radius: 1em;
    padding: 1em 1em;
    text-align: center;
    position: relative;
   }
}


.left{
    left: 0%;  
}

.right{
    left: 50%;
}

.right::after {
    left: -1.25em;
  }