@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');
@import "Sass/variables&functions";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
  }
  html{
    scroll-behavior: smooth;
    scroll-padding: 10vh;
  }

  span {
    color: rgb(28, 204, 91);
  }
  li{
    list-style: none;
  }
  
  a:active, a, a:focus{
    color: black;
  }
